<div class="google-yorum-alani">
    <div class="yildizlar">⭐⭐⭐⭐⭐</div>
    <h3>Lezzetimizi Sevdiniz mi?</h3>
    <p>Sizlerin yorumları bizim için çok değerli! Bizi Google'da değerlendirerek diğer lezzet tutkunlarına da
        tavsiye edebilirsiniz.</p>

    <a href="https://www.google.com/search?sa=X&sca_esv=ce64154c2f105c00&biw=1536&bih=738&sxsrf=APpeQntnKkR415Dup4EJerT0wR1M_i6rhw:1783015866995&q=%C3%87oban%C3%A7e%C5%9Fme%20Battalbey%20%C3%87i%C4%9Fk%C3%B6fteci%20Yorumlar&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxIxNLQwM7Q0NjI1NzE3MDc3MDA3sdjAyPiKUe9we35SYt7h5alH5-emKjgllpQk5iSlViocbs88Mj_78La0ktTkTIXI_KLS3JzEokWsJGoAABZ96vd9AAAA&rldimm=11861932574707700748&tbm=lcl&hl=tr-TR&ved=0CBQQ5foLahcKEwiguf7by7SVAxUAAAAAHQAAAAAQBg#arid=Ci9DQUlRQUNvZENodHljRjlvT2kxRlQxSlZZMlZ6TVdkNWFXNU9WV1JLZG5CMFYzYxAB"
        target="_blank" class="google-btn">

        <img src="../assets/google-logo.webp" alt="Google Logo" class="google-logo">

        Bizi Google'da değerlendir
    </a>
</div>
<div id="iletisim" class="section iletisim-ikili">

    <div class="iletisim-bilgi-sutunu">
        <h2>Bize Ulaşın</h2>
        <p><strong>📍 Adres:</strong> Millet, Samsun Cd. No:7/A, 35190 Konak/İzmir</p>
        <p><strong>📞 Sipariş Hattı:</strong> <a href="tel:05071367888">0507 136 78 88</a></p>
        <p><strong>🕒 Çalışma Saatleri:</strong> Her gün 11:00 - 23:00</p>
        <p><strong>🛵 Paket Servis:</strong> Ücretsiz ve hızlı teslimatımız vardır.</p>
    </div>

    <div class="iletisim-harita-sutunu">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1563.096297361843!2d27.17720621769581!3d38.41391380764212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b96341db24af0d%3A0xa49e0cd45916540c!2zw4dvYmFuw6dlxZ9tZSBCYXR0YWxiZXkgw4dpxJ9rw7ZmdGVjaQ!5e0!3m2!1str!2str!4v1783183176848!5m2!1str!2str"
            width="580" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<footer>
    <p>&copy; 2026 Çobançeşme Çiğköfte. Tüm Hakları Saklıdır.</p>
</footer>

<a href="https://wa.me/905071367888" class="whatsapp-buton" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp'tan Sipariş Ver">
</a>